@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Kite+One);

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Sans-serif;
  overflow: hidden;
}

a {	text-decoration: none;}
li {list-style-type:none;}
.center-bar{
	text-align:center;
}

/* menu footer */
.traffic-jam {
	background-image:url(../images/icon_collect.png);
	background-repeat:no-repeat;
	width:55px;
	height:55px;
	background-position:-5px 5px;	
}

.alert-traffic {
	background-image:url(../images/icon_collect.png);
	background-repeat:no-repeat;
	width:55px;
	height:55px;
	background-position:-55px 5px;
}

.support {
	background-image:url(../images/icon_collect.png);
	background-repeat:no-repeat;
	width:55px;
	height:55px;
	background-position:-159px 5px;	
}

.extra-function {
	background-image:url(../images/icon_collect.png);
	background-repeat:no-repeat;
	width:55px;
	height:55px;
	background-position:-107px 5px;	
}
/* end menu footer */

footer a {   
    font-size: 32px;
	color: #222;
}

/* menu header */
.logo{
	background: transparent url(../images/icon_collect.png) no-repeat;
	width:55px;
	height:55px;
	background-position:-500px -98px;
}

.icon-alert {
	background: transparent url(../images/icon_collect.png) no-repeat;
	width:40px;
	height:40px;
	background-position:-236px -10px;
}

.button{
	position:fixed;
	right: 20px;
	background-color:#FF0;
}
/* end menu header */
